
a {
  color: blue;
  display: block;
  text-decoration: none
}

/* NoteCard */

.notecard > div:empty {
  display: none;
}
#notes-container > * {
  margin: 20px;
}

/* Form */

.form-link > button {
  visibility: hidden;
}
.form-link > button > i {
  visibility: visible;
}
.form-link > a {
  display: inline-block;
}


/* Nav Bar */
#site-title {
  color: black;
  margin: 1em;
  margin-bottom: 0em;
  display: inline-block;
}

div.menu.text {
  position: relative;
  left: 25px;
}
div.checkbox {
  position: relative;
  bottom:44px;
}
.ui.vertical.menu .menu .item {
  padding-left: 2em;
}

/* Home */

#search-container > ul {
  height: 300px;
  overflow-y: auto;
}

#root > * {
  padding-left: 20px;
}